<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= username %></p>
    <a href="/joke">RANDOM JOKE!</a>
    <p></p>
    <a href="/alljokes">ALL THE JOKES!</a>
    <p></p>
    <a href="/addjoke">ADD A JOKE!</a>
  </body>
</html>
