<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %>, here you get a random joke:</p>
<p><%= joke%></p>
<a href="/">Go Home</a>
</body>
</html>
